.App-Card {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 5px 10px 5px black;
  background: url(https://www.pngitem.com/pimgs/m/50-507762_clouds-png-photo-clouds-with-no-background-transparent.png);
}
